html {
    background-color: rgb(84, 90, 4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
html.about{
    background-color: rgb(189, 182, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body{
    box-sizing: content-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkmagenta;
}
h2{
    color: rgb(36, 255, 229);
}
nav{ 
    font-size: 22px;
    color: rgb(110, 18, 110);
    background-color: cornflowerblue;
    background-position: 0%;
}
nav ul{
    gap: 100px;
    display: flex;
    background-color: navy;
    list-style-type:none;
    margin:0;
    font-size: 18px;
}
nav ul li{
    padding: 10px 15px;
}
nav ul li a{
    color:rgb(229, 146, 223);
}
ol{
    color:rgb(219, 168, 12);
}
ol li{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul.about{
    font-size: 20px;
    color: rgb(255, 115, 0); ;
}
p{
    font-size: 20px;
    color: rgb(0, 255, 145);
}
a{
    font-size: 20px;
    color: pink ;
}
a:visited{
    color: darkcyan;
}
a:hover{
    color: blanchedalmond;
}
footer{
    color: rgb(237, 0, 55);
    font-size: 25px;
    font-weight: bold;
}
.htsbg{
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4px 9px;
    display: inline-block;
}
